@tailwind base;
@tailwind components;
@tailwind utilities;


.fc-prev-button .fc-button .fc-button-primary{
    background-color: rgb(0,0,0);
    border-color:rgb(255,255,255);
    color: rgb(0,0,0);
}


:root {
    --fc-button-bg-color:rgb(0,0,0);
    --fc-button-border-color:rgb(255,255,255);
    --fc-button-text-color:rgb(0,0,0);
}